<h3 class="mb-3 list-item_heading">{{ block.title }}</h3>
<div class="mb-4 list-item_text">{{ block.text }}</div>


{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Text"
        }
    ]
}
{% endschema %}