<footer class="footer-simple bg-{{ section.settings.background_color }}">
  <div class="container">
    <div class="d-lg-flex justify-content-between">
        <div class="footer-simple__logo text-lg-start py-2 py-md-0" style="height: 60px">
          {% if section.settings.logo == blank %}
          <a aria-label="LOGO - Go to {{ seo_title }}'s footer" class="navbar-brand mx-0" href="/">
          LOGO</a>
          {% else %}
          <a href="/">
            <img alt="Go to homepage"
              class="img-fluid"
              src="{{ section.settings.logo | image_url }}" />
          </a>
          {% endif %}
        </div>
      {% if section.settings.topmenu != blank %}
      <div class="footer-simple__links">
        <ul class="list-unstyled d-lg-flex justify-content-center">
          {% for item in menus[section.settings.topmenu].menu_items %}
          {% if item.description != blank %}
          <li>
            <a aria-label="{{ item.description }}" class="footer-simple__link nav-link text-{{ section.settings.text_color }}" href="{{ item.link }}">{{ item.name }}</a>
          </li>
          {% else %}
          <li>
            <a class="footer-simple__link nav-link text-{{ section.settings.text_color }}">{{ item.name }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="visually-hidden"><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>
      {% endif %}

      <div class="footer-simple__socials">
          
          <ul class="list-inline">
             {% if section.settings.instagram_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Instagram" href="{{ section.settings.instagram_url }}">
                <span class="icon-instagram"></span>
              </a>
            </li>
            {% endif %}
            {% if section.settings.facebook_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Facebook" href="{{ section.settings.facebook_url }}">
                <span class="icon-facebook"></span></span>
              </a>
            </li>
            {% endif %}
            {% if section.settings.twitter_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Twitter" href="{{ section.settings.twitter_url }}">
                <span class="icon-twitter"></span></span>
              </a>
            </li>
            {% endif %} 
            {% if section.settings.pinterest_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Pinterest" href="{{ section.settings.pinterest_url }}">
                <span class="icon-pinterest"></span>
              </a>
            </li>
            {% endif %} 
          </ul>
          
          
      </div>
    </div>
    </div>
    <div class="d-lg-flex mt-3 justify-content-center">
        <div class="footer-simple__secondary text-{{ section.settings.text_color }}">
          <ul class="list-unstyled d-lg-flex">
             <li class="px-2 footer-simple__copy">&copy; {{ 'now' | date: "%Y" }} {{ site.name }}. All rights reserved.</li>
            {% if section.settings.bottom != blank %}
            {% for item in menus[section.settings.bottom].menu_items %}
            <li class="px-2">
              <a class="footer-simple__link text-{{ section.settings.text_color }}" href="{{ item.link }}"
                >{{ item.name }}</a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% styles %}
.footer-simple a:hover {
  text-decoration: underline;
}

.footer-simple .footer-simple__logo img {
  max-height: 45px;
}

.footer-simple .footer-simple__logo {
  margin-bottom: 20px;
}

.footer-simple .footer-simple__socials {
  font-size: 22px;
}

.footer-simple .footer-simple__links,
.footer-simple .footer-simple__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-simple .footer-simple__socials ul,
.footer-simple .footer-simple__links ul {
  margin-bottom: 0;
}

.footer-simple .footer-simple__secondary ul li,
.footer-simple .footer-simple__links ul li {
  margin-bottom: 20px;
  text-decoration: none;
  
}

.footer-simple .footer-simple__link {
  text-decoration: none;
}

.footer-simple .footer-simple__copy,
.footer-simple .footer-simple__secondary a {
  font-family: {{ type_base_font }};
  opacity: 0.4;
  font-size: 0.8em;
}

.footer-simple .footer-simple__secondary ul li {
  font-weight: 300;
}

@media only screen and (min-width: 768px) {

  .footer-simple .footer-simple__secondary ul li,
  .footer-simple .footer-simple__links ul li {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  .footer-simple .footer-simple__socials {
    justify-content: flex-end;
  }

  .footer-simple .footer-simple__links {
    justify-content: start;
  }

  .footer-simple .footer-simple__logo {
    margin-bottom: initial;
  }
}
{% endstyles %}

{% schema %}
{
    "name": "Footer",
    "description": "A simple footer with logo, menu for navigaiton links, menu for copyright/terms pages and social media links.",
    "settings": [
        {
          "type": "select",
          "id": "background_color",
          "label": "Background Color",
          "default": "background1",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type":"select",
            "id":"text_color",
            "label":"Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "link_list",
            "id": "topmenu",
            "label": "Main Menu List",
            "default": "main"
        },
        {
            "type": "link_list",
            "id": "bottom",
            "label": "Bottom Menu List",
            "default": "footer-bottom"
        },
        {
            "type":"url",
            "id":"instagram_url",
            "label":"Instagram URL",
            "default":""
        },
        {
            "type":"url",
            "id":"facebook_url",
            "label":"Facebook URL",
            "default":""
        },
        {
            "type":"url",
            "id":"twitter_url",
            "label":"Twitter URL",
            "default":""
        },
        {
            "type":"url",
            "id":"pinterest_url",
            "label":"Pinterest URL",
            "default":""
        }
    ]
}
{% endschema %}