{% if section.settings.label_font == "heading" %}
{% assign label_font = "{{ type_header_font }}" %}
{% elsif section.settings.label_font == "body" %}
{% assign label_font = "{{ type_base_font }}" %}
{% endif %}

{% if section.settings.form_text_color == "default" %}
{% assign label_color = "{{ color_text }}" %}
{% elsif section.settings.label_font == "inverse" %}
{% assign label_color = "{{ inverse_color_text }}" %}
{% elsif section.settings.label_font == "accent1" %}
{% assign label_color = "{{ accent1_color }}" %}
{% elsif section.settings.label_font == "accent2" %}
{% assign label_color = "{{ accent2_color }}" %}
{% endif %}

<div class="form-section container-fluid section-{{ section.id }} bg-{{ section.settings.background_color }} my-{{ section.settings.margin }}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }}">
                {% if section.settings.text_placement == "outside" %}
                {% if section.settings.title != blank %}
                <h2 class="mb-4 text-{{ section.settings.text_color }}">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="form-text text-{{ section.settings.text_color }}">{{ section.settings.text }}</div>
                {% endif %}
                {% if section.settings.form != blank %}
                <div class="form-container bg-{{ section.settings.form_bg }} text-{{ section.settings.form_text_color }} p-5">
                {% form {{ section.settings.form }} %}
                </div>
                {% endif %}
                {% elsif section.settings.text_placement == "inside" %}
                {% if section.settings.form != blank %}
                <div class="form-container bg-{{ section.settings.form_bg }} form-btn_{{ section.settings.form_button_type }} p-5">
                {% if section.settings.title != blank %}
                <h2 class="mb-4 text-{{ section.settings.text_color }}">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="form-text text-{{ section.settings.text_color }} mb-4">{{ section.settings.text }}</div>
                {% endif %}
                {% form {{ section.settings.form }} %}
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% styles %}
.section-{{ section.id }} {
    padding: 50px 0;
}

.section-{{ section.id }} label {
    font-family:  {{ label_font }};
    text-transform: {{ section.settings.label_case }};
    color: {{ label_color }};
}

.section-{{ section.id }} .form-btn_accent1 .submit-btn {
    color: {{ color_primary_button_label }};
    border-color: {{ color_primary_button }};
    border-radius: {{ btn_border_radius }}px;
    background-color: {{ color_primary_button }};
    transition: all .5s ease;
    
}

.section-{{ section.id }} .form-btn_accent1 .submit-btn:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
    
}

.section-{{ section.id }} .form-btn_secondary .submit-btn {
    color: {{ color_primary_button }};
    background-color: transparent;
    background-image: none;
    border: solid 1px {{ color_primary_button }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;    
}

.section-{{ section.id }} .form-btn_secondary .submit-btn:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.section-{{ section.id }} .form-btn_inverse-secondary .submit-btn {
    color: {{ color_primary_button_label }};
    background-color: transparent;
    background-image: none;
    border: solid 1px {{ color_primary_button_label }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
}

.section-{{ section.id }} .form-btn_inverse-secondary .submit-btn:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.section-{{ section.id }} .form-btn_link .submit-btn {
    font-weight: 400;
    color: {{ color_text }};
    background-color: transparent;
    padding: 0.5em 0;
    text-decoration-color: transparent;
    font-weight: 500;
    text-transform: none;
    transition: all .5s ease;
}

.section-{{ section.id }} .form-btn_link .submit-btn:after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: -0.1em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    color: {{ color_primary_button }};
}

.section-{{ section.id }} .form-btn_link .submit-btn:hover {
    color: {{ color_primary_button }};
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
}

@media screen and (max-width: 576px) {
    .form-section {
        padding: 80px 20px;
    }
}

    
{% endstyles %}

{% schema %}
{
    "name": "Form",
    "description": "Section for inserting the contact form in a page with customizable background. Will require the form's slug",
    "settings": [
        {
            "type": "header",
            "content": "Section Settings"
        },
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
            "label": "Large",
            "value": "5"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "None",
                "value": "0"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Section Background Color",
            "default": "background1",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_placement",
            "label": "Text Position",
            "default": "outside",
            "options": [
                {
                    "label": "Outside Form Container",
                    "value": "outside"
                },
                {
                    "label": "Inside Form Container",
                    "value": "inside"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Content"
        },
        {
            "type": "header",
            "content": "Form Settings"
        },
        {
            "type": "form_picker",
            "id": "form",
            "default": "contact-form",
            "label": "Select Form"
        },
        {
            "type": "select",
            "id": "form_bg",
            "label": "Form Background Color",
            "default": "background1",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                }
            ]
        },
        {
            "type": "select",
            "id": "form_text_color",
            "label": "Label Color",
            "default": "accent2",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "select",
            "id": "label_font",
            "label": "Form Label Font",
            "default": "heading",
            "options": [
                {
                    "label": "Header Font",
                    "value": "heading"
                },
                {
                    "label": "Body Font",
                    "value": "body"
                }
            ]
        },
        {
            "type": "select",
            "id": "label_case",
            "label": "Form Label Case",
            "default": "capitalize",
            "options": [
                {
                    "label": "Uppercase",
                    "value": "uppercase"
                },
                {
                    "label": "Lowercase",
                    "value": "lowercase"
                },
                {
                    "label": "Capitalize",
                    "value": "capitalize"
                }
            ]
        },
        {
           "type": "select",
           "id": "form_button_type",
           "label": "Submit Button Type",
           "default": "accent1",
           "options": [
           {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
           {
               "label": "Link",
               "value": "link"
           }]
       }
    ]
}
{% endschema %}