{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

{% if section.settings.textbox_opacity == "0" %}
{% assign tb_opacity = "00" %}
{% elsif section.settings.textbox_opacity == "10" %}
{% assign tb_opacity = "1A" %}
{% elsif section.settings.textbox_opacity == "20" %}
{% assign tb_opacity = "33" %}
{% elsif section.settings.textbox_opacity == "30" %}
{% assign tb_opacity = "4D" %}
{% elsif section.settings.textbox_opacity == "40" %}
{% assign tb_opacity = "66" %}
{% elsif section.settings.textbox_opacity == "50" %}
{% assign tb_opacity = "80" %}
{% elsif section.settings.textbox_opacity == "60" %}
{% assign tb_opacity = "99" %}
{% elsif section.settings.textbox_opacity == "70" %}
{% assign tb_opacity = "B3" %}
{% elsif section.settings.textbox_opacity == "80" %}
{% assign tb_opacity = "CC" %}
{% elsif section.settings.textbox_opacity == "90" %}
{% assign tb_opacity = "E6" %}
{% elsif section.settings.textbox_opacity == "100" %}
{% assign tb_opacity = "FF" %}
{% endif %}

<section class="hero container-fluid section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %}">

    <div class="container">
        <div class="row justify-content-center text-{{ section.settings.text_alignment }}">
            <div class="col-sm-12 col-lg-{{ section.settings.container_size }}{%if section.settings.textbox_color != blank%} hero-text-box{% endif %} px-lg-5 py-lg-5">
                <h1 class="mt-3{% if section.settings.btn_text != blank and section.settings.text != blank %}mb-4{% endif %} {{ section.settings.hsize }} text-{{ section.settings.text_color }}">{{ section.settings.title }}</h1>
                <div class="mb-5 text-{{ section.settings.text_color }}"><p>{{ section.settings.text }}</p></div>
                {% if section.settings.btn_text != blank %}
                {% if section.settings.btn_count == "2" %}
                <div class="row gx-0 mt-4">
                <div class="col-12 col-lg-6 mt-3 my-lg-0 text-center text-lg-end mb-3 mb-lg-0">
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-start">
                <a class="btn btn-{{ section.settings.btn_color2 }} btn-lg mx-2" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                </div>
                </div>
                {% else %}
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% styles %}
    .section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
    }

    .section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .section-{{ section.id }}.hero .btn {
        min-width: 100px;
        padding: 0.5rem 1.5rem;
    }
    
    .section-{{ section.id }}.hero-text {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.6;
    }
    
    .hero-text-box {
        background: {{ section.settings.textbox_color }}{{ tb_opacity }};
    }
    
    
.section-{{ section.id }}.hero {
    padding: {{ section.settings.padding }} 0;
}


@media screen and (max-width: 576px) {
    
    
    .section-{{ section.id }}.hero {
        padding: 80px 0;
    }
    
    
    .section-{{ section.id }}.hero h1 {
        font-size: 2em;
        padding: 0 12px;
    }
    
    .section-{{ section.id }}.hero .h2 {
        font-size: 1.5em;
    }
}

    
{% endstyles %}

{% schema %}
{
    "name": "Hero",
    "description": "Hero section with 1 or 2 button option",
    "settings": [
        {
            "type": "select",
            "id": "padding",
            "label": "Padding",
            "default": "120px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "8",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image",
            "default": "placeholder.webp"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background3",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 60,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "color",
            "id": "textbox_color",
            "label": "Text Box Color"
        },
        {
                "type": "range",
                "id": "textbox_opacity",
                "label": "Textbox Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "inverse",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Hero Title",
            "default": "Long headline to turn your visitors into users"
        },
        {
            "type": "select",
            "id": "hsize",
            "label": "Heading Size",
            "default": "h1",
            "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            },
            {
                "label": "H3",
                "value": "h3"
            }]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Hero Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        },
        {
            "type": "select",
            "id": "btn_count",
            "label": "Button Count",
            "default": "2",
            "options": [
            {
                "label": "1",
                "value": "1"
            },
            {
                "label": "2",
                "value": "2"
            }]
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Button 1"
        },
        {
        "type": "select",
        "id": "btn_color",
        "default": "inverse-secondary",
        "label": "Button 1 Type",
        "options": [
        {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
        {
            "label": "Link",
            "value": "link"
        }]
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "Button Link 2",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button Text 2",
            "default": "Button 2"
        },
        {
        "type": "select",
        "id": "btn_color2",
        "default": "accent1",
        "label": "Button 2 Type",
        "options": [
        {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    }
    ]
}
{% endschema %}