<div class="numbered-list section-{{ section.id }} container-fluid bg-{{ section.settings.background_color }} my-{{ section.settings.margin }}">

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6 text-{{ section.settings.text_color }}">
                {% if section.settings.title != blank %}
                <h2 class="my-3">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="mb-4 mb-lg-5">{{ section.settings.text }}</div>
                {% endif %}
                <div class="row my-4 text-start text-{{ section.settings.text_color }}">
                {% for block in section['block_order'] %}
                {% if forloop.index == 1 %}
                   <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_first_number_icon"></span></div>
                   <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 2 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-second_phone_number_two_call_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 3 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_number_phone_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 4 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_four_fourth_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</div>
                {% elsif forloop.index == 5 %}
                    <div class="col-2 col-lg-1 text-center mt-1"><span class="icon-action_call_dial_fifth_five_icon"></span></div>
                    <div class="col-10 col-lg-11 feature-col">{% block %}</span></div>
                {% else %}
                {% block %}
                 
                {% endif %}    
                {% endfor %}
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% styles %}


.section-{{ section.id }} list-item_text {
    font-weight: 500;
}
    
.section-{{ section.id }} [class^="icon-"], .numbered-list [class*=" icon-"] {
    font-size: 1.5em;
}
    
.section-{{ section.id }} .feature-col {
    padding-left: 25px;
}

@media screen and (max-width: 576px) {
    
   .section-{{ section.id }} .feature-col {
        padding-left: 0;
    }
}

{% endstyles %}



{% schema %}
{
    "name": "Numbered List",
    "description": "Shows up to 5 items in a numbered list",
    "max_blocks": 5,
    "settings": [
        {
           "type": "select",
           "id": "margin",
           "label": "Section Margin",
           "default": "0",
           "options": [
           {
               "label": "Large",
               "value": "5"
           },
           {
               "label": "Medium",
               "value": "3"
           },
           {
               "label": "Small",
               "value": "1"
           },
           {
               "label": "None",
               "value": "0"
           }]
        },
        {
           "type": "select",
           "id": "background_color",
           "label": "Background Color",
           "default": "background3",
           "options": [
               {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
           ]
       },
       {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "inverse",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Text"
        }
    ],
    "blocks": [
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            },
            {
                "type": "list-item"
            }
    ]
}
{% endschema %}