{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

<div class="page-header section-{{ section.id }} container{% if section.settings.fullwidth %}-fluid{%endif%} px-0 py-lg-{{ section.settings.padding }} my-{{ section.settings.margin }} gx-0">
 <div class="row gx-0">
    <div class="col-12 col-lg-6 order-first image-col{%if section.settings.layout == "2" %} order-lg-last text-lg-start{%else%} text-lg-end{%endif%} text-center d-lg-flex align-items-center {%if section.settings.layout == "2" %}justify-content-lg-start{%else%}justify-content-lg-end{%endif%}" style="min-height: 250px;">
      {% if section.settings.image != blank %}
            <img style="width: {{ section.settings.image_width }}%" src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.alt }}" />
    {% endif %}
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-start align-self-center text-col pb-5 py-lg-5 px-lg-5 order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
      <h1 class="mb-3{%if section.settings.heading_text_color == 'inverse' %} text-inverse{%endif%}">{{ section.settings.heading }}</h1>
      <div class="page-header_text mb-4 pr-lg-4 me-lg-5 text-{{ section.settings.text_color }}">{{ section.settings.content }}</div>
      {% if section.settings.btn_label != blank and section.settings.btn_label2 == blank %}
      <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
      {% elsif section.settings.btn_label2 != blank %}
      <div class="btn-container px-5 px-md-0">
          <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }} d-block d-md-inline-block mb-3 mb-md-0 me-0 me-md-2" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
         <a class="btn btn-{{ section.settings.btn_color2 }} btn-{{ section.settings.btn_size }} d-block d-md-inline-block" tabindex="-1" role="button" href="{{ section.settings.btn_link2 }}">
          {{ section.settings.btn_label2 }}
      </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% styles %}

.section-{{ section.id }} {
    background: {{ bg_hex }}{{ section.settings.opacity }};
}

.section-{{ section.id }} .page-header_text {
    font-weight: 600;
}
    
.section-{{ section.id }} .row {
        padding: 0 180px;
}
    

@media screen and (max-width: 1024px) {
    .section-{{ section.id }} .image-col {
        padding: 50px 0 25px;
    }
    
     .section-{{ section.id }} .row {
        padding: 0 20px;
    }
    
    .section-{{ section.id }} .text-col {
        padding: 0 32px;
    }
    
    .section-{{ section.id }} .order-last {
        padding-bottom: 50px;
    }
}
  
{% endstyles %}

{% schema %}
{
    "name": "Page Header",
    "description": "Two-column section that contains an image and content with H1, text, and option for 1 or 2 buttons.",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullwidth",
        "default": true,
        "label": "Full Width"
    },
    {
        "type": "select",
        "id": "margin",
        "default": "0",
        "label": "Section Margin",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "select",
        "id": "padding",
        "default": "3",
        "label": "Section Padding",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "1",
        "options": [
        {
            "label": "Image Left Content Right",
            "value": "1"
        },
        {
            "label": "Content Left Image Right",
            "value": "2"
        }]
    },
    {
        "type": "select",
        "id": "overlay",
        "label": "Background Color",
        "default": "background2",
        "options": [
            {
                "label": "Black",
                "value": "black"
            },
            {
                "label": "Background 1",
                "value": "background1"
            },
            {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
        ]
    },
    {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 100,
                "min": 0,
                "max": 100,
                "step": 10
        },
    {
        "type": "image_picker",
        "id": "image",
        "default": "placeholder.webp",
        "label": "Image"
    },
    {
        "type": "range",
        "id": "image_width",
        "label": "Image Size",
        "default": 50,
        "min": 25,
        "max": 100,
        "step": 5
    },
    {
        "type": "text",
        "id": "alt",
        "label": "Image Alt Text"
    },
    {
            "type": "select",
            "id": "heading_text_color",
            "label": "Title Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
    {
        "type": "text",
        "id": "heading",
        "default": "Lorem ipsum",
        "label": "Heading"
    },
    {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
    {
        "type": "richtext",
        "id": "content",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "label": "Text"
    },
    {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "default": "lg",
        "options": [
        {
            "label": "Small",
            "value": "sm"
        },
        {
            "label": "Large",
            "value": "lg"
        }]
    },
    {
        "type": "text",
        "id": "btn_label",
        "default": "Button 1",
        "label": "Button 1 Label"
    },
    {
        "type": "text",
        "id": "btn_link",
        "label": "Button 1 Link"
    },
    {
        "type": "select",
        "id": "btn_color",
        "default": "secondary",
        "label": "Button 1 Color",
        "options": [
        {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
           {
               "label": "Link",
               "value": "link"
           }]
    },
    {
        "type": "text",
        "id": "btn_label2",
        "default": "Button 2",
        "label": "Button 2 Label"
    },
    {
        "type": "text",
        "id": "btn_link2",
        "label": "Button 2 Link"
    },
    {
        "type": "select",
        "id": "btn_color2",
        "default": "accent1",
        "label": "Button 2 Color",
        "options": [
        {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
           {
               "label": "Link",
               "value": "link"
           }]
    }
    
]
}
{% endschema %}