<div class="posts-grid container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} px-5 py-5 gx-0">
    {% if section.settings.heading != blank %}
    <h2 class="text-center">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.content != blank %}
    <p class="text-center">{{ section.settings.content }}</p>
    {% endif %}
    
    {% if section.settings.tag != blank %}

                {% assign tag = section.settings.tag  %}
                {% else %}
                    {% assign tag = '' %}
                {% endif %}
      
      <div class="row justify-content-center my-5">
                    
                        {% paginate posts.tag by 99 published_at asc %}
                        {% for post in posts reversed %}
                        <div class="col-12 col-lg-{{ section.settings.grid }} px-3 pt-3 pb-5">
                            <div class="post-list-post shadow-hover">
                                {% if section.settings.thumbnails %}
                                    {% if post.image_url != blank %}
                                    <div onclick="window.location.href='{{ post.url }}'" class="post-list-image" style="background-image: url({{ post.image_url }}); height: {{ section.settings.image_size }}; background-repeat: no-repeat; background-size: cover; cursor: pointer;"></div>
                                    {% else %}
                                    <div onclick="window.location.href='{{ post.url }}'" class="post-list-image" style="background-image: url({{ 'placeholder.webp' | image_url }}); height: {{ section.settings.image_size }}; background-repeat: no-repeat; background-size: cover; cursor: pointer;"></div>
                                    {% endif %}
                                {% endif %}
                                
                                    <div class="post-list-content px-1">
                                        <a href="{{ post.url }}"><h3 class="pt-3 mb-1">{{ post.title }}</h3></a>
                                   
                                        {% if section.settings.date %}
                                            {% if section.settings.date_format == "1" %}
                                            <span class="post-list-date small">{{ post.published_at | date: "%B %d, %Y" }}</span>
                                            {%elsif section.settings.date_format == "2" %}
                                            <span class="post-list-date small">{{ post.published_at | date: "%D" }}</span>
                                            {%else%}
                                            <span class="post-list-date small">{{ post.published_at | date: "%F" }}</span>
                                            {% endif %}
                                        {% endif %}
                                        {% if section.settings.teaser %}
                                        <p class="post-list-excerpt pt-3">
                                            {% if post.excerpt == blank %}
                                            {{ post.content | strip_html | truncate: 200 }}
                                            {% else %}
                                            {{ post.excerpt | strip_html | truncate: 200 }}
                                            {% endif %}
                                        </p>
                                        {% endif %}
                                    </div>
    
                              </a>                        </div>
                            {% if section.settings.readmore %}
                            <a aria-label="Read more about {{ post.title }}" class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }} mt-3" tabindex="-1" role="button" href="{{ post.url }}">
                                  Read More
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                        {% endpaginate %}
    
        
      </div>
    </div>
    
    {% schema %}
    {
        "name": "Posts Grid",
        "description": "Shows all posts. It can be filtered with a tag.",
        "settings": [
        {
            "type": "checkbox",
            "id": "fullwidth",
            "label": "Full Width",
            "default": false
        },
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
                "label": "Large",
                "value": "5"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "None",
                "value": "0"
            }]
        },
        {
            "type": "select",
            "id": "grid",
            "label": "Posts per Row",
            "default": "4",
            "options": [
            {
                "label": "2",
                "value": "6"
            },
            {
                "label": "3",
                "value": "4"
            },
            {
                "label": "4",
                "value": "3"
            }]
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Posts Grid"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "tag",
            "label": "Posts Tag (optional)"
        },
        {
            "type": "checkbox",
            "id": "thumbnails",
            "label": "Show Post Images",
            "default": true
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "Image Size",
            "default": "200px",
            "options": [
            {
                "label": "Small",
                "value": "200px"
            },
            {
                "label": "Medium",
                "value": "250px"
            },
            {
                "label": "Large",
                "value": "300px"
            }]
        },
        {
            "type": "checkbox",
            "id": "date",
            "label": "Show Publish Date",
            "default": true
        },
        {
            "type": "select",
            "id": "date_format",
            "label": "Date Format",
            "default": "3",
            "options": [
            {
                "label": "August 23, 2001",
                "value": "1"
            },
            {
                "label": "08/23/01",
                "value": "2"
            },
            {
                "label": "2001-08-23",
                "value": "3"
            }]
        },
        {
            "type": "checkbox",
            "id": "teaser",
            "label": "Show Teaser",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "readmore",
            "label": "Show Read More button",
            "default": true
        },
        {
            "type": "select",
            "id": "btn_color",
            "default": "link",
            "label": "Button Color",
            "options": [
            {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
        {
            "label": "Link",
            "value": "link"
        }]
        }
    ]
    }
    {% endschema %}