<section class="post-grid-with-text-overlay-filter section-{{ section.id }} bg-{{ section.settings.bg_color }} container-fluid g-0 my-{{ section.settings.margin }}">
    <div class="container{% if section.settings.fullwidth %}-fluid gx-0{%endif%}">
        
            {% if section.settings.heading != blank %}
            <div class="row justify-content-{{ section.settings.alignment }} px-3">
            <div class="col-11 col-lg-6 text-{{ section.settings.alignment }}">
            <h2 class="{% if section.settings.text == blank %}mb-5{%else%}mb-3{%endif%} text-{{ section.settings.text_color }} {{ section.settings.heading_size }} text-{{ section.settings.alignment }}">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
            <div class="mb-5 text-{{ section.settings.text_color }} text-{{ section.settings.alignment }}">{{ section.settings.text }}</div>
            {% endif %}
            </div>
            </div>
            
             <input type="radio" id="All" name="categories" value="All" checked>
             {% for cat in categories %}
            <input type="radio" id="{{ cat.slug }}" name="categories" value="{{ cat.slug }}">
            {% endfor %}
            
            <ol class="filters mb-5 text-center text-{{ section.settings.text_color }}">
            <li><label for="All" class="text-{{ section.settings.text_color }}">All</label></li>
            {% for cat in categories %}
            <li><label for="{{ cat.slug }}" class="text-{{ section.settings.text_color }}">{{ cat.name }}</label></li>
            {% endfor %}
            </ol>
            <ol class="posts projects post-grid-with-text-overlay-filter_post-grid">
            
                {% paginate posts by 999 %}
                {% for post in posts reversed %}
                    <li class="post project post-list-item" data-category="{% for post_tag in post.tags %}{{ post_tag.slug }} {% endfor %}" onclick="location.href='{{ post.url }}'" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="post-img" style="background-image: url({{ post.image_url | resize: '1600x1600' }});">
                            <div class="overlay"></div>
                        <div class="post-content d-flex flex-column justify-content-end p-4 text-{{ section.settings.post_text_color }}">
                            <div class="tag">
                                {% for post_tag in post.tags %}
                                {% if forloop.index > 1 %}| {{ post_tag.name }}{% else %}{{ post_tag.name }}
                               {% endif %}
                                {% endfor %}
                            </div>
                            
                            <div class="date mb-2">
                                {% if section.settings.date == true %}
                                {% if section.settings.date_format == "1" %}
                                        <span class="post-list-date small text-{{ section.settings.post_text_color }}">{{ post.published_at | date: "%B %d, %Y" }}</span>
                                        {%elsif section.settings.date_format == "2" %}
                                        <span class="post-list-date small text-{{ section.settings.post_text_color }}">{{ post.published_at | date: "%D" }}</span>
                                        {%else%}
                                        <span class="post-list-date small text-{{ section.settings.post_text_color }}">{{ post.published_at | date: "%F" }}</span>
                                        {% endif %}
                                {% endif %}
                            </div>
                            <h3 class="title text-{{ section.settings.post_text_color }}">{{ post.title }}</h3>
                            <span class="hover-effect"></span>
                        </div>
                        </div>
                        
                    </li>
                {% endfor %}
                {% endpaginate %}
            </ol>
    </div>
</section>

{% styles %}

.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} ol {
    list-style: none;
}

.section-{{ section.id }} input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.section-{{ section.id }} .filters * {
  display: inline-block;
}

.section-{{ section.id }} .filters label {
  font-family: {{ type_base_font }};
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  position: relative;
}

.section-{{ section.id }} .filters label::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}

.section-{{ section.id }} .filters label.text-inverse::after {
    background-color: {{ inverse_color_text }}!important;
}

.section-{{ section.id }} .filters label:hover::after {
      width: 80%;
      height: 2px;
}

.section-{{ section.id }} .posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.section-{{ section.id }} .post {
  cursor: pointer;
}

.section-{{ section.id }} [value="All"] ~ .filters [for="All"],
{% for cat in categories %}
.section-{{ section.id }} [value="{{ cat.slug }}"] ~ .filters [for="{{ cat.slug }}"] {
  opacity: 0.4;
}
{% endfor %}

.section-{{ section.id }} [value="All"]:checked ~ .filters [for="All"],
{% for cat in categories %}
.section-{{ section.id }} [value="{{ cat.slug }}"]:checked ~ .filters [for="{{ cat.slug }}"] {
  opacity: 1;
}
{% endfor %}

.section-{{ section.id }} [value="All"]:checked ~ .filters [for="All"]::after,
{% for cat in categories %}
.section-{{ section.id }} [value="{{ cat.slug }}"]:checked ~ .filters [for="{{ cat.slug }}"]::after {
  position: absolute;
  content: '';
    height: 2px;
    width: 80%;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
{% endfor %}

.section-{{ section.id }} [value="All"]:checked ~ .filters.text-inverse [for="All"]::after,
{% for cat in categories %}
.section-{{ section.id }} [value="{{ cat.slug }}"]:checked ~ .filters.text-inverse [for="{{ cat.slug }}"]::after {
    background-color: {{ inverse_color_text }}!important;
}
{% endfor %}

.section-{{ section.id }} [value="All"]:checked ~ .posts [data-category] {
  display: block;
}

{% for cat in categories %}
.section-{{ section.id }} [value="{{ cat.slug }}"]:checked ~ .posts .post:not([data-category~="{{ cat.slug }}"]) {
    display: none;
}
{% endfor %}

.section-{{ section.id }} .post-img {
    background-size: auto 110%;
    background-repeat: no-repeat;
    box-shadow: none;
    transition: .5s ease;
    position: relative;
}

.section-{{ section.id }} .post-img:hover {
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 30%);
    background-size: auto 130%;
}

.section-{{ section.id }} .post-img .overlay {
    background-color: {{ section.settings.overlay }}80;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
    transition: .8s ease;
}

.section-{{ section.id }} .post-img:hover .overlay {
    background-color: {{ section.settings.overlay }}99;
}

.section-{{ section.id }} .post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 1.5s ease;
}

.section-{{ section.id }} .post-img .hover-effect {
    transition: width 1s ease;
    width: 0;
}

.section-{{ section.id }} .post-img:hover .hover-effect {
    border-bottom: 3px solid {{ accent1_color }};
    width: 80px;
}

.section-{{ section.id }} .post-content .tag {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    .section-{{ section.id }} .posts {
          grid-template-columns: repeat(1, 1fr);
    }
    
    .section-{{ section.id }} {
        padding: 3rem 1.5rem;
    }
}

{% endstyles %}


{% schema %}
{
"name": "Post Grid with Text Overlay and Filter",
"description": "Shows all the posts with a filter for categories.",
"settings": [
{
"type": "header",
"content": "Container Settings"
},
{
"type": "checkbox",
"id": "fullwidth",
"label": "Full Width"
},
{
"type": "select",
"id": "margin",
"label": "Section Margin",
"default": "0",
"options": [
{
"label": "Large",
"value": "5"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Small",
"value": "1"
},
{
"label": "None",
"value": "0"
}]
},
{
"type": "select",
"id": "padding",
"label": "Padding",
"default": "80px",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "40px"
},
{
"label": "Medium",
"value": "80px"
},
{
"label": "Large",
"value": "120px"
}]
},
{
"type": "select",
"id": "bg_color",
"label": "Background Color",
"default": "background3",
"options": [
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "select",
"id": "alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "text_color",
"label": "Text Color",
"default": "inverse",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "text",
"id": "heading",
"default": "Lorem Ipsum",
"label": "Heading"
},
{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "h2",
"options": [
{
"label": "H1",
"value": "h1"
},
{
"label": "H2",
"value": "h2"
},
{
"label": "H3",
"value": "h3"
}
]
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "header",
"content": "Posts Settings"
},
{
"type": "color",
"id": "overlay",
"default": "#000000",
"label": "Overlay Color"
},
{
"type": "select",
"id": "post_text_color",
"default": "inverse",
"label": "Text Color",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "checkbox",
"id": "date",
"default": true,
"label": "Show Publish Date"
},
{
"type": "select",
"id": "date_format",
"label": "Date Format",
"default": "3",
"options": [
{
"label": "August 23, 2001",
"value": "1"
},
{
"label": "08/23/01",
"value": "2"
},
{
"label": "2001-08-23",
"value": "3"
}]
}
]
}
{% endschema %}