{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

<section class="testimonial-slider section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %}">
<div id="carouselTestimonials" class="carousel slide row" data-bs-ride="carousel">
  <div class="container carousel-inner col-8 col-lg-4 text-center py-5">
     {% for block in section['block_order'] %}
     <div class="carousel-item{%if forloop.index == 1%} active{% endif %} text-{{ section.settings.text_color }}" data-bs-interval="5000">
      {% block %}
    </div>
     {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="custom-prev text-{{ section.settings.text_color }}"><</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="custom-next text-{{ section.settings.text_color }}">></span>
  </button>
</div>
</section>

{% styles %}

.section-{{ section.id }} .bg-color {
     background: {{ bg_hex }}{{ bg_opacity }};
}

.section-{{ section.id }} .bg-image {
    background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-{{ section.id }} .testimonial-image img {
    width: 120px;
}

.section-{{ section.id }} .carousel-control-prev-icon, .section-{{ section.id }} .carousel-control-next-icon {
    display: none;
}

.section-{{ section.id }} .custom-prev, .section-{{ section.id }} .custom-next {
    font-size: 50px;
}

.section-{{ section.id }} .testimonial-slider blockquote {
        font-size: 1.5em;
        font-style: italic;
        font-weight: 500;
    }
    
.section-{{ section.id }} .testimonial-slider .name {
        font-weight: 700;
    }
    
    @media screen and (max-width: 576px) {
    
        .section-{{ section.id }} .testimonial-slider blockquote {
            font-size: 1em;
        }
        
        .section-{{ section.id }} .testimonial-slider .name {
            font-size: 0.9em;
        }
        
        .section-{{ section.id }} .name-separator {
            display: none;
        }
        
        .section-{{ section.id }} .client-rev {
            font-weight: 400;
        }
        
        .section-{{ section.id }} .carousel-control-next, .section-{{ section.id }}.carousel-control-prev {
            display: block;
        }
        
         .section-{{ section.id }} .carousel-control-next {
            right: 10px;    
        }
        
        .section-{{ section.id }} .carousel-control-prev {
            left: 10px;    
        }
    }

{% endstyles %}

{% schema %}
{
    "name": "Testimonial Slider",
    "description": "Section for showing client reviews and testimonials in a slider.",
    "max_blocks": 12,
    "settings": [
        {
            "type": "image_picker",
            "id": "background_image",
            "default": "pattern.png",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background1",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "accent2",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        }
    ],
    "blocks": [
            {
                "type": "testimonial"
            },
            {
                "type": "testimonial"
            },
            {
                "type": "testimonial"
            }
    ]
}
{% endschema %}