{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

{% if section.settings.textbox_color == "black" %}
{% assign tb_hex = "#000000" %}
{% elsif section.settings.textbox_color == "background1" %}
{% assign tb_hex = "{{ background1_color }}" %}
{% elsif section.settings.textbox_color == "background2" %}
{% assign tb_hex = "{{ background2_color }}" %}
{% elsif section.settings.textbox_color == "background3" %}
{% assign tb_hex = "{{ background3_color }}" %}
{% elsif section.settings.textbox_color == "accent1" %}
{% assign tb_hex = "{{ accent1_color }}" %}
{% elsif section.settings.textbox_color == "accent2" %}
{% assign tb_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.textbox_opacity == "0" %}
{% assign tb_opacity = "00" %}
{% elsif section.settings.textbox_opacity == "10" %}
{% assign tb_opacity = "1A" %}
{% elsif section.settings.textbox_opacity == "20" %}
{% assign tb_opacity = "33" %}
{% elsif section.settings.textbox_opacity == "30" %}
{% assign tb_opacity = "4D" %}
{% elsif section.settings.textbox_opacity == "40" %}
{% assign tb_opacity = "66" %}
{% elsif section.settings.textbox_opacity == "50" %}
{% assign tb_opacity = "80" %}
{% elsif section.settings.textbox_opacity == "60" %}
{% assign tb_opacity = "99" %}
{% elsif section.settings.textbox_opacity == "70" %}
{% assign tb_opacity = "B3" %}
{% elsif section.settings.textbox_opacity == "80" %}
{% assign tb_opacity = "CC" %}
{% elsif section.settings.textbox_opacity == "90" %}
{% assign tb_opacity = "E6" %}
{% elsif section.settings.textbox_opacity == "100" %}
{% assign tb_opacity = "FF" %}
{% endif %}



<section class="video-hero section-{{ section.id }} container-fluid gx-0">

    <div class="video-container{% if section.settings.video_url == blank and section.settings.video == blank %}{% if section.settings.fallback_img != blank %} bg-image{%else%} bg-color{% endif %}{% endif %}">
        {% if section.settings.video_url != blank or section.settings.video != blank %}
        <video id="video"{% if section.settings.video_url != blank %} src="{{ section.settings.video_url }}"{% endif %} poster="{{ section.settings.fallback_img | image_url }}" autoplay muted loop controls playsinline>
            {% if section.settings.video != blank %}
            {% if section.settings.video contains ".mp4" %}
            <source src="{{ section.settings.video | image_url }}" type="video/mp4" />
            {% elsif section.settings.video contains ".webm" %}
    	    <source src="{{ section.settings.video | image_url }}" type="video/webm" />
    	    {% endif %}
    	    <img class="video_fallback" src="{{ 'section.settings.fallback_img' | image_url  }}" width="100%" height="100%" alt="Video with IE8 fallback" title="No video playback capabilities, please download the video below" />
            {% endif %}
        </video>
        {% endif %}
        </div>
        <div class="hero_content{%if section.settings.video != blank or section.settings.video_url != blank %}-video{% endif %}{%if section.settings.tb_vertical == "start" %} tb-top{%endif%} d-flex flex-column justify-content-{{ section.settings.tb_vertical }}{% if section.settings.tb_down == true %} tb-down{% else %} tb-up{% endif %} p-3 p-lg-0">
        <div class="container">
        <div class="row text-row justify-content-center align-items-center justify-content-lg-{{ section.settings.tb_horizontal }} text-{{ section.settings.text_alignment }}">
            <div class="col-10 col-lg-{{ section.settings.container_size }}{%if section.settings.textbox_color != blank%} hero-text-box{% endif %} px-lg-5 py-lg-5">
                {% if section.settings.title != blank %}
                <h1 class="mt-3{% if section.settings.btn_text != blank and section.settings.text != blank %}mb-4{% endif %} {{ section.settings.hsize }} text-{{ section.settings.text_color }}">{{ section.settings.title }}
                {% if section.settings.title2 != blank %}
                <br /><span class="text-heading-regular-italic">{{ section.settings.title2 }}</span>
                {% endif %}
                </h1>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="mb-5 text-{{ section.settings.text_color }}"><p>{{ section.settings.text }}</p></div>
                {% endif %}
                {% if section.settings.btn_count != '0' and section.settings.btn_text != blank %}
                {% if section.settings.btn_count == "2" %}
                <div class="row gx-0 mt-4">
                <div class="col-12 col-lg-6 mt-3 my-lg-0 text-center text-lg-end">
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                </div>
                <div class="col-12 col-lg-6 order-1 text-center text-lg-start">
                <a class="btn btn-{{ section.settings.btn_color2 }} btn-lg mx-2" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                </div>
                </div>
                {% else %}
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <div class="position-relative">
        <span class="line"></span>
    </div>
</section>


{% styles %}
    
.section-{{ section.id }} .hero .btn {
        min-width: 100px;
    }
    
.section-{{ section.id }} .hero-text {
        font-size: 1.2em;
        line-height: 1.6;
    }
    
.section-{{ section.id }} .hero-text-box {
        background: {{ tb_hex }}{{ tb_opacity }};
 }
    
.section-{{ section.id }} .video-container {
    width: 100vw;
    height: {{ section.settings.section_height }};
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: -999;
}

.section-{{ section.id }} .video-container video {
	min-width: 100vw;
    min-height: {{ section.settings.section_height }};
    width: 100%;
    height: auto;
}

.section-{{ section.id }} .hero_content {
  	margin-top: -{{ section.settings.section_height }};
    height: {{ section.settings.section_height }};
}

.section-{{ section.id }} .hero_content-video {
  	margin-top: -{{ section.settings.section_height }};
    height: {{ section.settings.section_height }};
    background: {{ bg_hex }}{{ bg_opacity }};
}

.section-{{ section.id }} .bg-color {
    background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }} .bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.fallback_img | image_url }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.section-{{ section.id }} .tb-top {
      padding-top: 120px;
}

.section-{{ section.id }} video[poster]{object-fit:cover}

.section-{{ section.id }} .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 30px;
    border: solid 1px {{ inverse_color_text }};
    opacity: 0.4;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    
.section-{{ section.id }} .video-container {
        height: 50vh;
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.fallback_img | image_url }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
.section-{{ section.id }} .video-container video {
        display: none;
    }
    
.section-{{ section.id }} .hero_content .tb-top {
      	padding-top: 0;
}

.section-{{ section.id }} .tb-up {
      	 margin-top: -50vh;
      	 height: 50vh;
}

.section-{{ section.id }} .tb-down {
      	 padding-top: 0;
      	 {% if section.settings.textbox_opacity == "0" or section.settings.textbox_color == blank %}
      	 background: {{ bg_hex }}{{ bg_opacity }};
      	 {% else %}
      	 background: {{ tb_hex }}{{ tb_opacity }};
      	 {% endif %}
      	 height: 50vh;
      	 margin-top: 0;
}

.section-{{ section.id }} .tb-down .hero-text-box {
        background: none;
 }

}

{% endstyles %}

{% schema %}
{
    "name": "Fullscreen Video Hero",
    "settings": [
        {
            "type": "select",
            "id": "section_height",
            "label": "Section Height",
            "default": "100vh",
            "options": [
            {
                "label": "Small",
                "value": "50vh"
            },
            {
                "label": "Medium",
                "value": "75vh"
            },
            {
                "label": "Full Screen",
                "value": "100vh"
            }]
        },
        {
            "type": "header",
            "content": "Video Source"
        },
        {
            "type": "text",
            "id": "video_url",
            "label": "Video URL"
        },
        {
            "type": "header",
            "content": "or"
        },
        {
            "type": "image_picker",
            "id": "video",
            "label": "Upload Video"
        },
        {
            "type": "image_picker",
            "id": "fallback_img",
            "label": "Fallback/Background Image",
            "default": "placeholder.webp"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlay",
            "default": "background1",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "8",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "textbox_color",
            "label": "Text Box Color",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "textbox_opacity",
                "label": "Textbox Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "header",
            "content": "Textbox Position"
        },
        {
            "type": "select",
            "id": "tb_vertical",
            "label": "Vertical",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "tb_horizontal",
            "label": "Horizontal",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Hero Title",
            "default": "Long headline to turn your visitors into users"
        },
        {
            "type": "text",
            "id": "title2",
            "label": "Hero Title 2"
        },
        {
            "type": "select",
            "id": "hsize",
            "label": "Heading Size",
            "default": "h1",
            "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            },
            {
                "label": "H3",
                "value": "h3"
            }]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Hero Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        },
        {
            "type": "select",
            "id": "btn_count",
            "label": "Button Count",
            "default": "2",
            "options": [
            {
                "label": "0",
                "value": "0"
            },
            {
                "label": "1",
                "value": "1"
            },
            {
                "label": "2",
                "value": "2"
            }]
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button 1 Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Button 1 Label"
        },
        {
        "type": "select",
        "id": "btn_color",
        "default": "inverse-secondary",
        "label": "Button 1 Type",
        "options": [
        {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
        {
            "label": "Link",
            "value": "link"
        }]
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "Button 2 Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button 2 Label",
            "default": "Button 2"
        },
        {
        "type": "select",
        "id": "btn_color2",
        "default": "accent1",
        "label": "Button 2 Type",
        "options": [
        {
            "label": "Accent 1",
            "value": "accent1"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Inverse Secondary",
            "value": "inverse-secondary"
        },
        {
            "label": "Link",
            "value": "link"
        }]
        },
        {
            "type": "checkbox",
            "id": "tb_down",
            "label": "Show Text Box Below Image on Mobile",
            "default": "false"
        }
    ]
}
{% endschema %}