@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://use.typekit.net/ygt1nvi.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    overflow-x: hidden;
}

strong {
  font-weight: 700;
}

em {
    font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src: url('{{ "icomoon.eot" | font_url }}');
  src: url('{{ "icomoon.eot" | font_url }}') format('embedded-opentype'),
  url('{{ "icomoon.ttf" | font_url }}') format('truetype'),
  url('{{ "icomoon.woff" | font_url }}') format('woff'),
  url('{{ "icomoon.svg" | font_url }}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-action_call_dial_number_phone_icon:before {
  content: "\e906";
}
.icon-action_call_dial_first_number_icon:before {
  content: "\e907";
}
.icon-action_call_dial_four_fourth_icon:before {
  content: "\e908";
}
.icon-second_phone_number_two_call_icon:before {
  content: "\e909";
}
.icon-action_call_dial_fifth_five_icon:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-phone-icon:before {
  content: "\e902";
  
  @media screen and (max-width: 768px) {
      font-size: 1.4em;
  }
}
.icon-pinterest:before {
  content: "\e903";
}
.icon-search-icon:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\ea92";
}

.icon-phone-icon.text-light:before {
  content: "\e902";
  color: {{ background1_color }};
}
.icon-search-icon.text-light:before {
  content: "\e904";
  color: {{ background1_color }};
}
.icon-facebook.text-light:before {
  content: "\e900";
  color: {{ background1_color }};
}
.icon-pinterest.text-light:before {
  content: "\e903";
  color: {{ background1_color }};
}
.icon-twitter.text-light:before {
  content: "\e905";
  color: {{ background1_color }};
}
.icon-instagram.text-light:before {
  content: "\ea92";
  color: {{ background1_color }};
}

@font-face {
  font-family: 'icomoon-jet';
  src: url('{{ "icomoon-jet.eot" | font_url }}');
  src: url('{{ "icomoon-jet.eot" | font_url }}') format('embedded-opentype'),
  url('{{ "icomoon-jet.ttf" | font_url }}') format('truetype'),
  url('{{ "icomoon-jet.woff" | font_url }}') format('woff'),
  url('{{ "icomoon-jet.svg" | font_url }}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-jet-"], [class*=" icon-jet-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-jet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-jet-"].default:before, [class*=" icon-jet-"].default:before {
    color: {{ color_text }};
}

[class^="icon-jet-"].inverse:before, [class*=" icon-jet-"].inverse:before {
    color: {{ inverse_color_text }};
}

[class^="icon-jet-"].accent1:before, [class*=" icon-jet-"].accent1:before {
    color: {{ accent1_color }};
}

[class^="icon-jet-"].accent2:before, [class*=" icon-jet-"].accent2:before {
    color: {{ accent2_color }};
}

.icon-jet-spinner11:before {
  content: "\e984";
}

.icon-jet-zoom-in:before {
  content: "\e987";
}

.icon-jet-zoom-out:before {
  content: "\e988";
}

.icon-jet-star-full:before {
  content: "\e9d9";
}

.icon-jet-tumblr2:before {
  content: "\eaba";
}

.icon-jet-Arrow:before {
  content: "\e900";
}

.icon-jet-Burger:before {
  content: "\e901";
}
.icon-jet-Call:before {
  content: "\e902";
}
.icon-jet-Close:before {
  content: "\e903";
}
.icon-jet-Facebook:before {
  content: "\e904";
}
.icon-jet-Favorite:before {
  content: "\e905";
}
.icon-jet-Home:before {
  content: "\e906";
}
.icon-jet-Instagram:before {
  content: "\e907";
}
.icon-jet-Linkedin:before {
  content: "\e908";
}
.icon-jet-Mail:before {
  content: "\e909";
}
.icon-jet-Minus:before {
  content: "\e90a";
}
.icon-jet-Ok:before {
  content: "\e90b";
}
.icon-jet-Pinterest:before {
  content: "\e90c";
}
.icon-jet-Plus:before {
  content: "\e90d";
}
.icon-jet-Search:before {
  content: "\e90e";
}
.icon-jet-Twitter-2:before {
  content: "\e90f";
}

html {
    min-height: 100vh;
}
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    line-height: 1.6;
    font-family: {{ type_base_font }};
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   font-family: {{ type_header_font }};
   line-height: 1.2;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-weight: 700;
}

h1, .h1 {
    font-size: 3em;
    
    @media screen and (max-width: 576px) {
        font-size: 2em;
    }
}

h2, .h2 {
    font-size: 2.5em;
    
    @media screen and (max-width: 576px) {
        font-size: 1.5em;
    }
}

h3, .h3 {
    font-size: 1.5em;
    
    @media screen and (max-width: 576px) {
        font-size: 1.25em;
    }
}

h4, .h4 {
    font-size: 1.2em;
}

h5, .h5 {
    font-size: 1em;
}

h6, .h6 {
    font-size: 0.8em;
}

p {
    line-height: 1.6;
    font-family: {{ type_base_font }};
    font-weight: 400;
}

a {
    color: {{ accent1_color }};
    font-family: {{ type_nav_font }};
    font-weight: 600;
}

a:hover {
    color: {{ accent2_color }};
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#wrapper {
  /*  border-top: solid 3px #f4f4f3; */
    min-height: 100vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: auto;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.image-text-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.image-with-text__text {
    padding-top: 35px;
    padding-bottom: 35px;
}
.image-with-text__image {
    min-height: 350px;
}

.placeholder-svg {
    display: block;
    fill: rgba(105, 114, 123, 0.35);
    background-color: rgba(105, 114, 123, 0.1);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(105, 114, 123, 0.2);
}

#mobileHeader {
    display: none;
}

@media screen and (max-width: 1024px) {
   #header {display: none;}
   #mobileHeader {display: block;}
   #menuIconHeader {display: none;}
}

@media screen and (max-width: 1024px) and (min-width: 576px) {
    .offcanvas .top, .offcanvas ul {
       padding: 0 50px;
   }
}
.mobile-logo {
    max-width: 45vw;
}

.btn-close {
  /*  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23{{ color_primary | remove: "#" }} '%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat; */
    opacity: 1;
    padding-left: 0;
    font-size: 0.75rem;
}

.btn-close.inverse {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

input#mobileNavSearch.col, input#desktopNavSearch.col {
    border: none;
}
input#desktopNavSearch.col {
    @media screen and (max-width: 1024px) {
        width: 100vw;
    }
}

input#mobileNavSearch.col::placeholder {
    font-size: 1em;
    color: {{ color_text }};
}
input#mobileNavSearch.col.inverse::placeholder {
    font-size: 1em;
    color: {{ inverse_color_text }};
}
.desktopSearchbtn {
    border: none;
    background: #fff;
}
footer {
    padding-top: 25px;
    padding-bottom: 25px;
    
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.footer-simple__logo img {
    @media screen and (max-width: 768px) {
        max-width: 60px;
    }
}

.footer-simple__links {
    @media screen and (max-width: 768px) {
        margin: 1em 0;
    }
}

.footer-simple__link {
    color: {{ color_text}};
    font-weight: 600;
}
.footer-simple__secondary ul li {
  color: {{ color_text }};
  font-family: {{ type_base_font }};
  opacity: 0.6;
  font-size: 0.8em;
  font-weight: 600;
}

.footer-simple__secondary ul li a:hover {
  color: {{ accent1_color }};
}

.footer-simple__socials {
    
    min-width: 100px;
    
    @media screen and (max-width: 768px) {
        margin: 1.5em 0;
        
        ul li {
            margin: 0 0.5em;
        }
    }
}

.footer-simple__secondary {
    margin-top: -2em;
    
    @media screen and (max-width: 768px) {
        margin: 0;
        
        ul li {
            margin: 1.5em 0;
        }
    }
}

.footer-simple__socials ul li a span:hover:before {
        color: {{ heading_color_text }};
}


.section-564404676  {
    min-height: 640px;
    
    p { 
        padding: 0 65px;
        
        @media screen and (max-width: 576px) {
            padding: 0;
        }
      }
}

/* .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2321442b'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2321442b'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
} */

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

ul {
    padding-left: 1em;
    margin-bottom: 1rem;
    line-height: 1.6;
}

ul li {
    font-size: 1rem;
    line-height: 1.6;
    font-family: {{ type_base_font }};
}


// Contact Form
.form-group {
    text-align: left;
}

label {
    font-family: {{ type_header_font }};
    font-size: 0.9em;
    color: {{ heading_color_text }};
    font-weight: 700;
}

input, textarea {
    font-weight: 600;
    font-size: 0.9em;
    color: {{ heading_color_text }};
    border: 0;
    background: {{ accent1_color }}18;
    border-radius: {{ btn_border_radius }}px;
    padding: 0.5rem;
}

.form-control {
    border: 0;
    background-color: {{ accent1_color }}08;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.9em;
    color: {{ heading_color_text }};
}

.contact-form, .form-section {
        ::placeholder {
          color: transparent;
          opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: transparent;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
         color: transparent;
        }
}
        
.submit-btn {
    border: none;
    width: 100%;
    font-family: {{ type_button_font }};
    font-size: 0.9em;
    text-transform: {{ type_btn_case }};
    font-weight: 500;
}

.search-list {
    border-bottom: solid 1px rgba(26,33,28,0.3);
    
    a:hover {
        color: {{ color_text }};
    }
}

#cards {
    padding-top: 35px;
    padding-bottom: 35px;
}
#cards .card {
    margin-bottom: 15px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}
#cards .card h3 {
    padding: 10px;
    background-color: #cccccc;
    margin-top: 0;
}
#cards .card p {
    padding: 10px;
}
#slider {
    padding-top: 35px;
    padding-bottom: 35px;
}
#slider * {
    box-sizing: border-box;
}
#slider .slideshow-container {
    position: relative;
    margin: auto;
}
#slider .mySlides {
    display: none;
}
#slider .prev,
#slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#slider .prev:hover,
#slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#slider .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
#slider .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
#slider .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
#slider .active,
#slider .dot:hover {
    background-color: #717171;
}
#slider .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


.testimonial-slider {
    .carousel-item {
        min-height: 350px;
    
        @media screen and (max-width: 1280px) {
            min-height: 375px;
        }
        
        @media screen and (max-width: 1024px) {
            min-height: 430px;
        }
        
        @media screen and (max-width: 768px) {
            min-height: 375px;
        }
        
        @media screen and (max-width: 576px) {
            min-height: 350px;
        }
        
        @media screen and (max-width: 320px) {
            min-height: 370px;
        }
    
    }
}

// Contact Form

 .alert {
        margin-bottom: 0;
        position: absolute;
        z-index: 9;
        text-align: center;
        color: {{ color_text }};
        font-weight: 600;
        font-size: 0.9em;
        padding: 1.2rem 1rem;
        width: 100%;
        border-radius: 0;
    }
    
    .alert-close a {
        color: #1B3E25;
        font-weight: 700;
    }
    
    .alert-close a:hover {
        color: #1B3E25;
    }

@media screen and (max-width: 576px) {
    
    
    .contact-form, .form-section {
        padding: 80px 20px;
    }
}
    
// Static Page

.page-content h1, h2, h3, h4, p {
    margin-bottom: 16px;
}

.page-content a {
    color: {{ heading_color_text }};
}

.page-content a:hover {
    color: {{ accent1_color }};
}

// Background Color

.bg-background1 {
    background: {{ background1_color }};
}

.bg-background2 {
    background: {{ background2_color }};
}

.bg-background3 {
    background: {{ background3_color }};
}

.bg-accent1 {
    background: {{ accent1_color }};
}

.bg-accent2 {
    background: {{ accent2_color }};
}

.bg-transparent {
    background: transparent;
}

// Typography
/*
.text-heading {
    font-family: {{ type_header_font }};
    font-weight: 700;
    font-style: normal;
}

.text-heading-regular {
    font-family: {{ type_header_font }};
    font-weight: 400;
    font-style: normal;
}

.text-heading-bold-italic {
    font-family: {{ type_header_font }};
    font-style: italic;
    font-weight: 700;
}

.text-heading-regular-italic {
    font-family: {{ type_header_font }};
    font-weight: 400;
    font-style: italic;
}

.text-body, .text-default {
    font-family: {{ type_base_font }};
    color: {{ color_text }};
}

.text-default-bold {
    font-family: {{ type_base_font }};
    color: {{ color_text }};
    font-weight: 700;
}

.text-default-regular-italic {
    font-family: {{ type_base_font }};
    color: {{ color_text }};
    font-weight: 400;
    font-style: italic;
}

.text-default-bold-italic {
    font-family: {{ type_base_font }};
    color: {{ color_text }};
    font-weight: 700;
    font-style: italic;
}
*/
/* .text-body a, .text-default a {
    color: {{ color_text }};
} */

.text-inverse {
    color: {{ inverse_color_text }};
}

.text-inverse {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: {{ inverse_color_text }};
    }
}

.text-inverse a {
    color: {{ inverse_color_text }};
    text-decoration: underline;
}

.text-inverse a.navbar-brand, .text-inverse a.nav-link-btn {
    text-decoration-color: transparent;
}

.text-body a.navbar-brand, .text-default a.navbar-brand {
    text-decoration-color: transparent;
}

.text-inverse .nav .navbar-nav a, a.nav-icon-link {
    text-decoration-color: transparent;
}

.text-accent1 {
    color: {{ accent1_color }};
}

.text-accent2 {
    color: {{ accent1_color }};
}

.text-background1 {
    color: {{ background1_color }};
}

.text-background2 {
    color: {{ background2_color }};
}

.text-background3 {
    color: {{ background3_color }};
}

.nav .text-body a, .nav .text-default a {
    text-decoration-color: transparent;
}

.navbar-nav .nav-link .text-inverse {
    color: {{ inverse_color_text }};
    text-decoration-color: transparent;
}

.navbar-nav .nav-link.inverse {
    color: {{ inverse_color_text }};
}

.page-404 {
    padding: 80px 0;
    background: linear-gradient(#00000099, #00000099), url({{ '404-hero.webp' | image_url:'1600x1600' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero .btn {
    min-width: 100px;
    padding: 0.7rem 1.5rem;
}

.hero-text {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6;
}

// Nav

.navbar {
    padding: 1rem 1.5rem;
    
    [class^="icon-"].icon-size-lg:before {
        font-size: 1.5rem;
    }
    
    .icon-jet-Arrow:before {
        font-size: 0.9rem;
        color: {{ accent1_color }};
    }
    
    @media screen and (max-width: 576px) {
        padding: 1rem 0;
    }
}

.nav-link:focus,
.nav-link:hover, 
.nav-link:active {
    text-decoration: none;
    color: {{ accent1_color }};
}

.navbar-nav .nav-link {
    text-decoration-color: transparent;
    color: {{ color_text }};
    font-family: {{ type_nav_font }};
    line-height: 1;
    text-transform: {{ type_nav_case }};
    font-weight: 600;
}

/*
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: {{ accent1_color }};
} */

.dropdown-item {
    font-size: 0.875rem;
    text-decoration-color: transparent;
    text-transform: {{ type_nav_case }};
}

.dropdown-item:hover {
    color: {{ color_text }};
    background-color: transparent;
}

.dropdown-item.inverse:hover {
    color: {{ inverse_color_text }};
    background-color: transparent;
}

a.link-name-inverse, .dropdown-name-inverse {
    color: {{ inverse_color_text }}!important;;
}

span.link-name-inverse:hover {
    color: {{ inverse_color_text }};
}

span.link-name::after, span.dropdown-name::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}

span.link-name:hover::after, span.dropdown-name:hover::after {
    width: 100%;
    height: 2px;
}

span.link-name-inverse::after, span.dropdown-name-inverse::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}

span.link-name-inverse:hover::after, span.dropdown-name-inverse:hover::after {
    height: 2px;
    width: 100%;
}

a.nav-link.is-active span.link-name::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

a.nav-link.text-inverse.is-active {
    color: {{ inverse_color_text }}!important;
    opacity: 0.7;
}

a#navbarDropdown.nav-link.dropdown-toggle::after, a#navbarDropdownMobile.nav-link.dropdown-toggle::after {
    display: none;
}

.dropdown-arrow-container {
    transform: rotate(180deg);
}

a#navbarDropdown.nav-link.show div.dropdown-arrow-container, a#navbarDropdownMobile.nav-link.show div.dropdown-arrow-container {
    transform: rotate(0deg)!important;
    transition: ease-in-out;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu .text-inverse a {
    text-decoration-color: transparent;
}

.text-inverse a.dropdown-item {
    text-decoration-color: transparent;
}

#header .dropdown-menu {
    min-width: 200px;
    
    .dropdown-item {
        border-bottom: solid 1px {{ accent2_color }};
    }
}

.offcanvas {
    position: absolute;
    height: 100vh;
    
    .dropdown-menu {
        border: 0;
    }
}

#mobileHeader .dropdown-menu {
    background-color: transparent;
    border: 0;
}

#mobileHeader .offcanvas a.dropdown-item {
    color: {{ color_text }};
}


#mobileHeader .nav-link-btn {
    padding: 0.5rem 0.75rem;
}

.icon-cta-container {
    padding-top: 0.5rem;
}

.w-40 {
    width: 40%;
}

#menuIconHeader {
    .open, .close {
        font-family: {{ type_base_font }};
        font-weight: 600;
    }
    
    .icon-jet-Burger:before {
        position: absolute;
        top: 3px;
        left: 0;
    }
    
    .offcanvas a.dropdown-item {
        color: {{ color_text }};
    }
    
    .navbar-toggler::after {
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        background-color: {{ accent1_color }}!important;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all 1s ease;
    }
    
    .navbar-toggler:hover::after {
        height: 2px;
        width: 100%;
    }
    
    .btn-close_container::after {
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        background-color: {{ accent1_color }}!important;
        bottom: -4px;
        left: 1rem;
        right: 0;
        transition: all 1s ease;
    }
    
    .btn-close_container:hover::after {
        height: 2px;
        width: 20%;
    }
    
    .btn-close {
        padding: 0.35rem;
    }
    
    .btn-close:after {
        content: 'CLOSE';
        position: absolute;
        display: inline-block;
        font-size: 1rem;
        left: 2.25rem;
        font-weight: 600;
        top: 0;
    }
}

nav.navbar.main-nav.bg-transparent {
    height: 120px;
    margin-bottom: -120px;
    
    @media screen and (max-width: 768px) {
        height: 80px;
        margin-bottom: -80px;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

#mobileHeader a.phone-icon {
    text-decoration-color: transparent;
}

#mobileHeader a.phone-icon:hover {
    text-decoration-color: {{ accent1_color }};
}

// Buttons

.btn {
    text-transform: {{ type_btn_case }};
    font-family: {{ type_button_font }};
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: {{ btn_border_radius }}px;
    font-weight: 500;
}

.btn-accent1 {
    color: {{ color_primary_button_label }};
    border-color: {{ color_primary_button }};
    border-radius: {{ btn_border_radius }}px;
    background-color: {{ color_primary_button }};
    transition: all .5s ease;
}

a.btn-accent1 {
    color: {{ color_primary_button_label }};
    text-decoration-color: transparent;
}

.btn-accent1:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.btn-secondary {
    color: {{ color_primary_button }};
    background-color: transparent;
    background-image: none;
    border-color: {{ color_primary_button }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
}
.btn-secondary:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.btn-inverse-secondary {
    color: {{ color_primary_button_label }};
    background-color: transparent;
    background-image: none;
    border-color: {{ color_primary_button_label }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
}

.btn-inverse-secondary:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.btn-link {
    font-weight: 400;
    color: {{ color_text }};
    background-color: transparent;
    padding: 0.5em 0;
    text-decoration-color: transparent;
    font-weight: 500;
    text-transform: none;
    transition: all .5s ease;
}

.btn-link:after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: -0.1em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    color: {{ color_primary_button }};
}

.btn-link:hover {
    color: {{ color_primary_button }};
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
}
.btn-link.focus,
.btn-link:focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-icon {
    background: transparent;
    border: 0;
    color: {{ accent1_color }};
}

// Testimonial Carousel

.testimonial-slider
    {
    .carousel-inner {
        max-width: 33.33333333%;
        
        @media screen and (max-width: 768px) {
            max-width: 66.66666667%;
        }
    }
}

@media screen and (max-width: 576px) {


.page-404 {
    padding: 80px 10px;
}


.page-404 h1 {
    font-size: 2em;
    padding: 0 12px;
}
}

/* Footer with Blocks */

.footer-with-blocks {
    padding: 0 120px;
    
    @media screen and (max-width: 576px) {
        padding: 0 20px;
    }
}

.footer-with-blocks [class^="icon-"]:before {
    font-size: 1.5rem;
    
    @media screen and (max-width: 576px) {
        font-size: 1rem;
    }
}
    
.footer-with-blocks a {
    text-decoration-color: transparent;
    color: {{ color_text }};
    text-transform: {{ type_nav_case }};
}     

.footer-with-blocks a:hover {
    color: {{ accent1_color }};
    text-decoration-color: {{ accent1_color }};
}

.footer-with-blocks .text-inverse a {
    text-decoration-color: transparent;
}     

.footer-with-blocks .text-inverse a:hover {
    color: {{ inverse_color_text }};
    text-decoration-color: {{ inverse_color_text }};
}

    
.footer-with-blocks a.icon-facebook-icon:hover,
.footer-with-blocks a.icon-twitter-icon:hover, 
.footer-with-blocks a.icon-instagram-icon:hover, 
.footer-with-blocksa.icon-pinterest-icon:hover,
.footer-with-blocks a.icon-linkedin-round-line:hover {
        text-decoration-color: transparent;
}
    
.footer-with-blocks .accordion-item {
    background-color: transparent;
}
    
.footer-with-blocks .accordion-button {
    background-color: transparent;
    color: {{ color_text }};
    padding: 1rem 0rem;
}
    
.footer-with-blocks .accordion-button:after {
    background-image: url("{{ 'Plus.svg' | image_url }}");
}
    
.footer-with-blocks .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: {{ color_text }};
}
    
.footer-with-blocks .accordion-button:not(.collapsed)::after {
    background-image: url("{{ 'Minus.svg' | image_url }}");
}
    
.footer-with-blocks .accordion-flush .accordion-item:first-child, .accordion-flush .accordion-item:last-child {
    border-top: solid 1px #ffffff26;
    border-bottom: solid 1px #ffffff26;
}
    
.footer-with-blocks .accordion-button:focus {
    border: none;
    box-shadow: none;
}
    
.footer-with-blocks .accordion-body {
    padding: 0 0.5rem 1rem;
}

.show-mobile {
    display: none;
}

.footer-bottom .copyright, .footer-bottom .legal a {
    font-size: 0.875rem;
    opacity: 0.5;
}

.footer-subtext, .footer-subtext p, {
    font-family: 'Roboto';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
}

.footer-header {
    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .show-mobile {
        display: block;
    }
    
    .show-desktop {
        display: none;
    }
}

/* End Footer with Blocks */


/* Page Content with Sidenav */

.sidenav-text a {
    text-decoration-color: transparent;
    color: {{ color_text }};
}     

.sidenav-text a:hover {
    color: {{ accent1_color }};
    text-decoration-color: {{ accent1_color }};
}

.mobile-sidenav .accordion-item {
    background-color: transparent;
}
    
.mobile-sidenav .accordion-button {
    background-color: transparent;
    color: {{ color_text }};
    padding: 1rem 0rem;
}
    
.mobile-sidenav .accordion-button:after {
    background-image: url("{{ 'Plus.svg' | image_url }}");
}
    
.mobile-sidenav .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: {{ color_text }};
}
    
.mobile-sidenav .accordion-button:not(.collapsed)::after {
    background-image: url("{{ 'Minus.svg' | image_url }}");
}
    
.mobile-sidenav .accordion-flush .accordion-item:first-child, .accordion-flush .accordion-item:last-child {
    border-top: solid 1px #ffffff26;
    border-bottom: solid 1px #ffffff26;
}
    
.mobile-sidenav .accordion-button:focus {
    border: none;
    box-shadow: none;
}
    
.mobile-sidenav .accordion-body {
    padding: 0 0.5rem 1rem;
}

a.sidenav-text {
    color: {{ color_text }};
    display: block;
    text-decoration-color: transparent;
}

a.sidenav-text:hover {
    color: {{ accent1_color }};
    text-decoration-color: {{ accent1_color }};
}

a.sidenav-text.is-active {
    color: {{ accent1_color }}!important;
    text-decoration-color: {{ accent1_color }}!important;
}

/* End Page Content with Sidenav */

/* Borders */

.border-top-accent1 {
    border-top: solid 2px {{ accent1_color }};
}

.border-top-accent2 {
    border-top: solid 2px {{ accent2_color }};
}

.border-top-default {
    border-top: solid 2px {{ color_text }};
}

.border-top-inverse {
    border-top: solid 2px {{ inverse_color_text }};
}

/* Multicolumn Footer with Text */

.muticolumn-footer-with-text {
    
    .footer-blocks {
        font-weight: 600;
        
        h2 {
            text-transform: uppercase;
        }
    }
    
    .description-text, .copyright-text, .bottom-menu a {
        font-family: {{ type_base_font }};
        opacity: 0.5;
        color: {{ color_text }};
        font-weight: 400;
    }
    
    .bottom-menu a:hover {
        color: {{ accent1_color }};
    }
    
    .social-icons {
        a {
            text-decoration-color: transparent;
            
            &:hover {
                color: {{ accent2_color }};
            }
        }
    }
    
    @media screen and (max-width: 576px) {
        .footer-block-col {
            flex: 1 0 100%;
        }
        
        img {
            max-width: 75%;
        }
    }
}