<div class="page-404 d-flex justify-content-center align-items-center container-fluid section-{{ section.id }}" style="height: {{ 404_height }}; background: linear-gradient(#00000066, #00000066), url({{ 404_image | image_url:"1600x1600" }}); background-size: cover; background-repeat: no-repeat;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="mb-4 text-inverse">{{ 404_heading }}</h1>
                <div class="mb-5 text-inverse">{{ 404_text }}</div>
                <div class="mt-4">
                <a class="btn btn-inverse-secondary mx-2" href="{{ 404_btn1_link }}" role="button">{{ 404_btn1_label }}</a>
                <a class="btn btn-accent1 mx-2" href="{{ 404_btn2_link }}" role="button">{{ 404_btn2_label }}</a>
                </div>
            </div>
        </div>
    </div>
</div>