<h1>EVENTS TEMPLATE</h1>
{% paginate events by 10 %}
{% for event in events %}
<div class='col-sm-3'>
    <div class='post'>

        {{ event.name }}
        {{ event.website }}
    </div>
</div>
{% endfor %}



{% include paginate %}



{% endpaginate %}