{{ form | form_tag }}

{% for field in form.form_fields %}
<div class='form-group'>
    <label class="mb-2" for='{{ form.name }}[{{ field.name }}]'>{{ field.label }}</label>
    {% if field.name == "message" %}
    {{ field.id | field_tag:'rows=6 class="form-control"' }}
    {% else %}
    {{ field.id | field_tag:'class="form-control"' }}
    {% endif %}
</div>
{% endfor %}
<button type='submit' class='btn submit-btn'>Submit</button>
</form>